<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" >

</head>
<body>
<div class="container">
    <div class="row">
        <div>
            <h1>Calculate Distance by Two Postcodes </h1>
        </div>
        <form action="calculate"  method="post">



            <div>
                <label>Postcode 1</label>
                <select id="postcode1" name="postcode1"   class="form-control" required>
                    <option value="">Please Select</option>
                    <option th:each="postcode : ${postcodeList}" th:value="${postcode}" th:text="${postcode}"></option>
                </select>
            </div>

            <div>
                <label>Postcode 2</label>
                <select id="postcode2" name="postcode2"   class="form-control" required>
                    <option value="">Please Select</option>
                    <option th:each="postcode : ${postcodeList}" th:value="${postcode}" th:text="${postcode}"></option>
                </select>
            </div>




            </br>

            <div>
                <input type="submit" value="submit" />
            </div>
        </form>
    </div>
</div>
</body>
</html>